*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //define 1rem size
}

body {
  font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif;
}

.wrapper {
  font-size: 1.6rem;
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 8rem 62rem 21rem;

  grid-template-areas:
    "header header"
    "info-text date-form"
    "footer footer";
}
// //debug
// .wrapper > * {
//   border: 3px solid black;
// }

///////////////////////////////////////////////////
///////HEADER
.facebook-header {
  //border: 5px solid black;
  grid-area: header;
  background-color: #3b5998;
  display: flex;
  justify-content: center;
}

.facebook__logo {
  display: flex;
  //border: 2px solid white;
  align-self: stretch;
  align-items: center;
  flex: 0 0 22vw;
  margin-right: 12vw;

  &-img {
    height: 8rem;
    width: auto;
  }
}

.facebook__auth {
  //border: 2px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
  flex: 0 0 40rem;

  &__email {
    width: 15rem;
    height: 2.3rem;
  }
  &__pswd {
    width: 15rem;
    height: 2.3rem;
  }

  &__btn-login {
    border: none;
    background-color: #4267b2;
    border-color: #29487d;
    color: #fff;
    cursor: pointer;
    height: 2.4rem;
    width: 5rem;
    padding: 2px;
    transition: all 0.2s;
    font-weight: 500;

    &:hover {
      background-color: #365899;
      border-color: #29487d;
    }
    &:active {
      border: none;
    }
  }
}

.info-text {
  grid-area: info-text;
  background: #edf0f5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  //border: 5px red solid;

  &__friends {
    color: #333;
    font-size: 2.8rem;
    width: 45rem;
    height: 14rem;
    display: flex;
    align-items: center;
  }
}

.k {
  width: 50rem;
  height: 37rem;
  //border: 5px blue solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-bold {
  color: #333;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 2.2rem;
}

.text-normal {
  color: #666;
  font-size: 1.5rem;
  line-height: 2rem;
  vertical-align: middle;
  font-weight: 200;
}

h2 {
  padding: 2rem 4rem;
}

.date-form {
  grid-area: date-form;
  background: #edf0f5;
  padding: 5rem;
}

.footer {
  display: flex;
  grid-area: footer;
  background-color: #fff;
  align-items: center;
  flex-direction: column;
}

.a {
  padding-top: 2rem;
  width: 100rem;
}
.b {
  height: 14rem;
  width: 100rem;
}

.c {
  height: 14rem;
  width: 100rem;
}

a {
  padding: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #385898;
}

.hr__styling {
  margin: 0 auto;
  width: 50%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
