*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //define 1rem size
}

body {
  font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif;
}

.wrapper {
  font-size: 1.6rem;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8rem 62rem 21rem;

  grid-template-areas:
    "header header"
    "info-text date-form"
    "footer footer";
}
// .wrapper > * {
//   border: 1px solid black;
// }

///////////////////////////////////////////////////
///////HEADER
.facebook-header {
  //border: 5px solid black;
  grid-area: header;
  background-color: #3b5998;
  display: flex;
  justify-content: center;
}

.facebook__logo {
  display: flex;
  //border: 2px solid white;
  align-self: stretch;
  align-items: center;
  flex: 0 0 20vw;
  margin-right: 15vw;

  &-img {
    height: 8rem;
    width: auto;
  }
}

.facebook__auth {
  //border: 2px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
  flex: 0 0 40rem;

  &-email {
  }

  &-pswd {
  }

  &-btn-login {
  }
}

.login-form__email {
  width: 15rem;
  height: 2.3rem;
}

.login-form__pswd {
  width: 15rem;
  height: 2.3rem;
}

.info-text {
  grid-area: info-text;
  background: #edf0f5;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-left: 30rem;
}

.text-bold {
  color: #333;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 2.2rem;
}

.text-normal {
  color: #666;
  font-size: 15px;
  line-height: 20px;
  vertical-align: middle;
}

h2 {
  padding: 2rem 4rem;
}

.date-form {
  grid-area: date-form;
  background: #edf0f5;
  padding: 5rem;
}

.footer {
  display: flex;
  grid-area: footer;
  background-color: #fff;
  align-items: center;
  flex-direction: column;
}

.a {
  height: 14rem;
  width: 100rem;
}
.b {
  height: 14rem;
  width: 100rem;
}

.c {
  height: 14rem;
  width: 100rem;
}
