*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif;
}

.wrapper {
  font-size: 1.6rem;
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 8rem 62rem 21rem;
      grid-template-rows: 8rem 62rem 21rem;
      grid-template-areas: "header header" "info-text date-form" "footer footer";
}

.facebook-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-color: #3b5998;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facebook__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22vw;
          flex: 0 0 22vw;
  margin-right: 12vw;
}

.facebook__logo-img {
  height: 8rem;
  width: auto;
}

.facebook__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40rem;
          flex: 0 0 40rem;
}

.facebook__auth__email {
  width: 15rem;
  height: 2.3rem;
}

.facebook__auth__pswd {
  width: 15rem;
  height: 2.3rem;
}

.facebook__auth__btn-login {
  border: none;
  background-color: #4267b2;
  border-color: #29487d;
  color: #fff;
  cursor: pointer;
  height: 2.4rem;
  width: 5rem;
  padding: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 500;
}

.facebook__auth__btn-login:hover {
  background-color: #365899;
  border-color: #29487d;
}

.facebook__auth__btn-login:active {
  border: none;
}

.info-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info-text;
  background: #edf0f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info-text__friends {
  color: #333;
  font-size: 2.8rem;
  width: 45rem;
  height: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.k {
  width: 50rem;
  height: 37rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-bold {
  color: #333;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 2.2rem;
}

.text-normal {
  color: #666;
  font-size: 1.5rem;
  line-height: 2rem;
  vertical-align: middle;
  font-weight: 200;
}

h2 {
  padding: 2rem 4rem;
}

.date-form {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: date-form;
  background: #edf0f5;
  padding: 5rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.a {
  padding-top: 2rem;
  width: 100rem;
}

.b {
  height: 14rem;
  width: 100rem;
}

.c {
  height: 14rem;
  width: 100rem;
}

a {
  padding: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #385898;
}

.hr__styling {
  margin: 0 auto;
  width: 50%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/*# sourceMappingURL=style.css.map */