*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif;
}

.wrapper {
  font-size: 1.6rem;
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 8rem 62rem 21rem;
      grid-template-rows: 8rem 62rem 21rem;
      grid-template-areas: "header header" "info-text date-form" "footer footer";
}

.facebook-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-color: #3b5998;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facebook__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20vw;
          flex: 0 0 20vw;
  margin-right: 15vw;
}

.facebook__logo-img {
  height: 8rem;
  width: auto;
}

.facebook__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40rem;
          flex: 0 0 40rem;
}

.login-form__email {
  width: 15rem;
  height: 2.3rem;
}

.login-form__pswd {
  width: 15rem;
  height: 2.3rem;
}

.info-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info-text;
  background: #edf0f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
  padding-left: 30rem;
}

.text-bold {
  color: #333;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 2.2rem;
}

.text-normal {
  color: #666;
  font-size: 15px;
  line-height: 20px;
  vertical-align: middle;
}

h2 {
  padding: 2rem 4rem;
}

.date-form {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: date-form;
  background: #edf0f5;
  padding: 5rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.a {
  height: 14rem;
  width: 100rem;
}

.b {
  height: 14rem;
  width: 100rem;
}

.c {
  height: 14rem;
  width: 100rem;
}
/*# sourceMappingURL=style.css.map */